
deny from all

# Activez HTTPS
RewriteEngine On


RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^(.*)$ index.php?page=$1

# RewriteRule ^(.*)$ $1?lang=fr [L,QSA]